@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */
/* show the close (X) button on any hovered tab;
   probably only one selector is needed */

tabs#tabbrowser-tabs tab.tabbrowser-tab:hover .tab-close-button.close-icon,
#TabsToolbar .tab-content:hover .tab-close-button.close-icon {
	display: block !important;
}
/**/

/* tab bar placement */
#TabsToolbar {
	position: absolute !important;
	top: 68px;
	overflow: hidden;
}

/* Fix bizarre broken layout in tabs with FF72 */
#TabsToolbar .tab-content .tab-close-button.close-icon {
	position: relative;
	top: -20px;
	left: calc(100% - 20px);
}

#TabsToolbar .tab-content {
	height: 26px;
	max-height: 26px;
	margin-top: 3px;
	border-bottom: 2px solid var(--identity-tab-color);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

#TabsToolbar .tab-content .tab-label-container {
	max-width: calc(100% - 24px);
}

#TabsToolbar .tab-content > * {
	vertical-align: text-top;
}

/**/

/* put the address/search bars in the "right" place... */
#nav-bar-customization-target toolbarbutton,
#nav-bar-customization-target toolbaritem {
  -moz-box-ordinal-group: 3;
}
#nav-bar-customization-target #search-container {
  -moz-box-ordinal-group: 2;
}
#nav-bar-customization-target #urlbar-container {
	-moz-box-ordinal-group: 1;
}
#nav-bar-customization-target #back-button,
#nav-bar-customization-target #forward-button,
#nav-bar-customization-target #stop-reload-button,
#nav-bar-customization-target #home-button {
  -moz-box-ordinal-group: 0;
}
/**/

/* ...but expand when hovered */
#urlbar-container:hover ~ *,
#search-container:hover:focus-within ~ * {
  display: none !important;
}
#nav-bar-customization-target:hover #urlbar-container,
#nav-bar-customization-target:hover #search-container {
  min-width: 100px !important;
}
#nav-bar-customization-target:hover #urlbar-container:hover,
#nav-bar-customization-target:hover #search-container:hover:focus-within {
	display: -moz-box !important;
  max-width: 6000px !important;
}
/**/

/* hide things I don't want in my way */
#new-tab-button,
#pocket-button,
#searchbar .search-go-container,
#star-button {
	display: none !important;
}
/**/

/* smaller text */
#urlbar, .searchbar-textbox {
	font-size: 8pt;
}
/**/

/* color the temporary container button so it can be seen */
toolbarbutton[label*="new Temporary Container"] {
  border-radius: 130px;
  background: #755;
}
toolbarbutton[label*="new Temporary Container"]:hover {
  background: #977;
}
toolbarbutton[label*="new Temporary Container"] .toolbarbutton-badge-stack {
  background: transparent !important;
}
/**/

.tabbrowser-tab .tab-content .tab-label {
  font-weight: normal !important;
  font-style: normal !important;
}
/**/
